* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.hidescroll::-webkit-scrollbar { width: 0 !important }

.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup {
  color: black
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 0.8em; height: 0.8em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713   ';
  position: absolute;
  top: .10em; left: .09em;
  font-size: 1.1em;
  line-height: 0.8;
  color: var(--primaryColor);
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #ccc;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


/* globals */
body {
  padding-top: 62px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 150px;
}

/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url(/_next/static/images/defaultBcg-aebaec51b2f82a2993fda821ca04e228.jpeg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url(/_next/static/images/room-2-052c76815f889f20b8a498c19a212c50.jpeg);
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/
/*Log box*/
.welcome {
  padding-top: 150px;
}

.log-box,
.log-box form {
  width: 100%;
  height: 100%;
}

.login-form {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.log-box form {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.log-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.log-box input:focus {
  outline: 1px solid rgb(175, 154, 125);
  border: 1px solid rgb(175, 154, 125);
  background: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.log-box {
  margin: auto;
  background: rgba(255,255,255,0.6);
  width: 100%;
  max-width: 100%;
}

.log-box h3 {
  text-align: center;
}

.loading-spinner {
  height: 50px;
  width: 50px;
  margin: auto;
}

.submit-btn {
  margin-top: 20px;
  height: 34px !important;
  transition: all linear;
  min-width: 24px;
}

.submit-btn.disabled {
  background: gray;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 24px;
}

.signed {
  text-align: center;
  height: 100%;
}

.signed .btn-primary {
  font-size: 0.7em;
}

.loading-login {
  height: 25px;
}

.login-err {
  margin-bottom: 20px;
  color: red;
  font-size: 0.8em;
}

.chat-window {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 100%;
}

.chat-list-container {
  overflow: hidden;
  width:25%;
  background: #efebe5;
  transition: .5s ease-out;
  z-index: 999
}

.chat-list-container .ScrollbarsCustom-Wrapper {
  right: 0px !important;
}

.chat-list-settings svg {
  color: white;
  align-self: center;
  font-size: 1.5em;
  display: none;
}

.chat-header svg {
  color: rgba(255,255,255,0.8);
  font-size: 1.95em;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1190px) {
  .chat-list-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
  }
  .chat-list-container.active {
    left: 0;
    min-width: 275px;
  }
  .chat-window {
    position: relative;
  }
  .chat-list-settings svg,
  .chat-header svg {
    display: unset;
  }
}

.chat-list-settings {
  padding: 10px 10px 10px 15px;
  background: rgba(175, 154, 125,0.4);
}

.chat-list-settings button {
  font-size: 0.7em;
}

.chat-list-container > div {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
}

#chat-checkbox {
  color: gray;
  width: 20px;
  height: 20px;
}

.chat-instance {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
}

.chat-instance ul {
  padding: 0 0 10px 10px;
}

.chat-info div {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.chat-info svg {
  color: red;
}

.chat-instance.inactive {
  right: -200%;
}

.admin-style {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: left;
}

.customer-style {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
}

.chat-messages {
  height: 90%;
  width: 100%;
  overflow: auto;
  padding: 0 20px 10px 20px;
}

.admin-style .chat-msg {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 60%
}

.customer-style .chat-msg {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 60%;
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

@media screen and (max-width: 728px) {
  .chat-msg {
    width: 90% !important;
  }
}

.avatar {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 20%;
  height: 40px;
  width: 40px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 100%;
  background: whitesmoke;
}

.msg-content {
  width: 80%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 10px 0 0 10px;
}

.msg-content span {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 0.9em;
  padding-left: 10px;
}

.msg-content p {
  font-size: 0.9em;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.chat-input-text {
  padding: 0 15px;
  height: 10%;
}

.log-box form {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.chat-input-text form {
  width: 100%;
  max-width: 100%;
}

.ScrollbarsCustom-Track {
  opacity: 0;
  transition: .4s;
  position: absolute;
}

.chatlist-box:hover .ScrollbarsCustom-Track {
  opacity: 1;
}

.chat-input-text form textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 7px 45px 7px 5px;
  background: rgba(175, 154, 125,0.2);
  resize: none;
}

.chat-input-text .button-container {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  height: 100%;
  top: 0;
  right: 15px;
}

.chat-input-text button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  font-size: 0.8em;
  color: var(--primaryColor);
}

.chatrooms-container {
  width: 100%;
  list-style: none;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
}

.chatrooms-container li {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; 
  text-align: left;
  padding: 10px 15px;
  position: relative;
  transition: all .5s ease;
}

.chatlist-box {
  height: 94% !important;
}

.chat-room {
  transition: .5s ease;
}

.chat-room:hover {
  background: white;
}

.chat-room h5 {
  text-transform: capitalize;
}

.chat-room.active {
  background: white;
}

.to-chat-btn {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 10px;
}

.to-chat-btn button {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--primaryColor);
  background: none;
  height: 30px;
  width: 30px;
  outline: none;
  color: var(--primaryColor);
  font-size: 1em;
  font-weight: bold;
  transition: all ease .3s;
  cursor: pointer;
}

.to-chat-btn button:hover {
  background: var(--primaryColor);
  color: white;
}

.chatrooms-container h5 {
  margin-bottom: 5px;
}

.chatrooms-container p {
  font-size: 0.9em;
}

.chatrooms-container > div:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.chat-header-board {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 100%;
}

.chat-header-board .chat-header {
  padding: 10px;
  background: rgba(175, 154, 125,0.7);
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
}

.deploy-chats {
  line-height: 0;
  position: relative;
}

.pending-msg {
  width: 10px;
  height: 10px;
  background: rgba(255, 0, 0,0.5);
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: -5px;
}

.chat-header-board .chat-header .btn-primary {
  margin-right: 10px;
  background: rgba(255,255,255,0.4);
  color: rgb(60,60,60 );
  border: 1px solid rgba(255,255,255,0.4);
}

.chat-board {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  overflow: hidden;
}

.chat-board ul {
  list-style: none;
  text-align: left;
}

/*end of log box*/
/*Admin panel*/
.admin-panel {
  display: flex;
  text-decoration: none;
  transition: var(--mainTransition);
  align-items: center;
  justify-content: center;
}

.admin-panel svg {
  font-size: 1.2em;
  margin-right: 5px;
  cursor: pointer;
}

.admin-panel button {
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}

.admin-panel a {
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}

.admin-panel button:hover,
.admin-panel a:hover {
  color: var(--primaryColor)
}
/*End of Admin panel*/

/*Chat styles*/
.chat-component {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.chat-icon-wrapper {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 100%;
  background: var(--mainWhite);
  color: var(--primaryColor);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  position: relative;
}

.modal-icon {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.widget-header {
  background: var(--primaryColor);
  padding: 10px 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
}

.widget-header h4 {
  margin: 0 0 10px 0;
}

.widget-header h5 {
  margin: 0;
}

.chat-screen-display {
  background: var(--mainWhite);
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  height: 425px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  transition: all .5s ease-out;
  opacity: 1;
}

.chat-screen-display.inactive {
  height: 0;
  opacity: 0;
}

.username-form {
  width: 90%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 15px;
}

.username-form label {
  text-align: center;
  font-size: 0.9em;
}

.username-form input {
  margin: 10px 0 15px 0 ;
  border-radius: 5px;
  padding: 8px 5px;
  background: rgb(235,235,235);
  border: none;
}

.chat-screen {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  height: 350px;
}

.user-message-list {  
  height: 90%;
  width: 100%;
  padding: 5px 5px 5px 5px;
  overflow: auto;
}

.user-message-list .chat-msg {
  width: 80%;
}

.chat-msg p {
  word-break: break-all;
}

.user-send-form {
  height: 10%;
  position: relative;
  width: 100%;
}

.user-send-form form {
  height: 100%;
  width: 100%;
}

.user-send-form input {
  background: whitesmoke;
  padding: 5px 25px 5px 2px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.user-send-form button {
  border: none;
  background: none;
  outline: none;
  font-size: 1.2em;
}

.user-send-form div {
  position: absolute;
  height: 100%;
  top: 0;
  right: 5px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
}

.cross {
  transition: all 0.3s ease-out;
  opacity: 1;
}

.cross.hide {
  opacity: 0;
  transform: rotate(-90deg);
}

.chat {
  transition: all 0.3s ease-out;
  opacity: 1;
}

.chat.hide {
  opacity: 0;
  transform: rotate(90deg);
}

/*End of chat*/
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .admin-panel {
    position: absolute;
    top: -5px;
    right: 5px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    color: #2c2c2c;
  }
  .admin-panel button {
    background: none;
    outline: none;
    border: none;
    letter-spacing: unset;
    font-size: 0.9rem;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .admin-panel a {
    letter-spacing: unset;
    margin: 0;
    font-size: 0.9rem;
  }
}


/*# sourceMappingURL=styles.chunk.css.map*/